input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.css-vtiabo-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 16px !important;
    line-height: 0.8em !important;
}

.css-1qltb3e-MuiInputBase-input-MuiOutlinedInput-input {
    width: 100% !important;
}

.css-wuhq1r-MuiInputBase-input-MuiOutlinedInput-input {
    width: 100% !important;
}